language: ruby
cache: bundler
script: bundle exec rspec
sudo: false

gemfile:
  - gemfiles/rack_1.5.gemfile
  - gemfiles/rack_1.6.gemfile
  - gemfiles/rack_2.0.gemfile

rvm:
  - 2.2.7
  - 2.3.4
  - 2.4.1
